.container-fluid {
	margin-bottom: 30px;
}

.container {
	margin-top: 10px;
}


@media screen and (min-width: 820px) {
	.profile-teaser-left {
		float: left; 
		width: 20%; 
		margin-right: 1%;
	}

	.profile-img img {
		width: 100%; 
		height: auto;
	}
}

@media screen and (max-width: 820px) {
	.profile-img img {
		width: 100%; 
		height: auto;
		object-fit: contain;
	}

	.row {
		margin: auto;
	}
	
	.list-group {
		width: 100%;
	}
}

.profile-teaser-main {
	float: left; width: 79%;
}

.list-group-item {
	margin-top: 30px;
	bottom: 30px;
}

.info { display: inline-block; margin-right: 10px; color: #777; }
.info span { font-weight: bold; }

.loader {
	height: 20px;
	width: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.loader--dot {
	animation-name: loader;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: black;
	position: absolute;
	border: 2px solid white;
}
.loader--dot:first-child {
	background-color: #8cc759;
	animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
	background-color: #8c6daf;
	animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
	background-color: #ef5d74;
	animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
	background-color: #f9a74b;
	animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
	background-color: #60beeb;
	animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
	background-color: #fbef5a;
	animation-delay: 0s;
}
.loader--text {
	position: absolute;
	top: 200%;
	left: 0;
	right: 0;
	width: 4rem;
	margin: auto;
}
.loader--text:after {
	content: "LOADING";
	font-weight: bold;
	animation-name: loading-text;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes loader {
	15% {
		transform: translateX(0);
	}
	45% {
		transform: translateX(230px);
	}
	65% {
		transform: translateX(230px);
	}
	95% {
		transform: translateX(0);
	}
}
@keyframes loading-text {
	0% {
		content: "LOADING";
	}
	25% {
		content: "LOADING.";
	}
	50% {
		content: "LOADING..";
	}
	75% {
		content: "LOADING...";
	}
}

.nav-pagination {
	float: justify;
}